Server/WebContent/wsdl/RentalModel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model.video.sy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model.video.sy" xmlns:intf="http://model.video.sy" xmlns:tns1="http://valueobj.video.sy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model.video.sy" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://valueobj.video.sy"/>
   <element name="rentMovie">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
      <element name="movieId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="rentMovieResponse">
    <complexType>
     <sequence>
      <element name="rentMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesRentalByUser">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesRentalByUserResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getMoviesRentalByUserReturn" type="tns1:Rental"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByMovieId">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByMovieIdResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUserByMovieIdReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="returnRentals">
    <complexType/>
   </element>
   <element name="returnRentalsResponse">
    <complexType/>
   </element>
   <element name="returnRental">
    <complexType>
     <sequence>
      <element name="r" type="tns1:Rental"/>
     </sequence>
    </complexType>
   </element>
   <element name="returnRentalResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://valueobj.video.sy" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BaseValueObj">
    <sequence/>
   </complexType>
   <complexType name="Rental">
    <complexContent>
     <extension base="tns1:BaseValueObj">
      <sequence>
       <element name="expirationDate" nillable="true" type="xsd:dateTime"/>
       <element name="movieId" nillable="true" type="xsd:string"/>
       <element name="movieName" nillable="true" type="xsd:string"/>
       <element name="releaseDate" type="xsd:int"/>
       <element name="rentAmount" type="xsd:double"/>
       <element name="rentedDate" nillable="true" type="xsd:dateTime"/>
       <element name="userId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="User">
    <complexContent>
     <extension base="tns1:BaseValueObj">
      <sequence>
       <element name="address" nillable="true" type="xsd:string"/>
       <element name="balance" type="xsd:double"/>
       <element name="city" nillable="true" type="xsd:string"/>
       <element name="email" nillable="true" type="xsd:string"/>
       <element name="firstName" nillable="true" type="xsd:string"/>
       <element name="issuedMovies" nillable="true" type="xsd:string"/>
       <element name="lastName" nillable="true" type="xsd:string"/>
       <element name="membershipNo" nillable="true" type="xsd:string"/>
       <element name="monthlySubscriptionFee" type="xsd:double"/>
       <element name="password" nillable="true" type="xsd:string"/>
       <element name="state" nillable="true" type="xsd:string"/>
       <element name="total" type="xsd:double"/>
       <element name="totalOutstandingMovies" type="xsd:int"/>
       <element name="userId" nillable="true" type="xsd:string"/>
       <element name="userType" nillable="true" type="xsd:string"/>
       <element name="zipCode" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="returnRentalResponse">

      <wsdl:part element="impl:returnRentalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnRentalsRequest">

      <wsdl:part element="impl:returnRentals" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnRentalsResponse">

      <wsdl:part element="impl:returnRentalsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByMovieIdRequest">

      <wsdl:part element="impl:getUserByMovieId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rentMovieResponse">

      <wsdl:part element="impl:rentMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rentMovieRequest">

      <wsdl:part element="impl:rentMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnRentalRequest">

      <wsdl:part element="impl:returnRental" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByMovieIdResponse">

      <wsdl:part element="impl:getUserByMovieIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesRentalByUserResponse">

      <wsdl:part element="impl:getMoviesRentalByUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesRentalByUserRequest">

      <wsdl:part element="impl:getMoviesRentalByUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RentalModel">

      <wsdl:operation name="rentMovie">

         <wsdl:input message="impl:rentMovieRequest" name="rentMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:rentMovieResponse" name="rentMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesRentalByUser">

         <wsdl:input message="impl:getMoviesRentalByUserRequest" name="getMoviesRentalByUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoviesRentalByUserResponse" name="getMoviesRentalByUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserByMovieId">

         <wsdl:input message="impl:getUserByMovieIdRequest" name="getUserByMovieIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserByMovieIdResponse" name="getUserByMovieIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnRentals">

         <wsdl:input message="impl:returnRentalsRequest" name="returnRentalsRequest">

       </wsdl:input>

         <wsdl:output message="impl:returnRentalsResponse" name="returnRentalsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnRental">

         <wsdl:input message="impl:returnRentalRequest" name="returnRentalRequest">

       </wsdl:input>

         <wsdl:output message="impl:returnRentalResponse" name="returnRentalResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RentalModelSoapBinding" type="impl:RentalModel">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="rentMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rentMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rentMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesRentalByUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoviesRentalByUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoviesRentalByUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserByMovieId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserByMovieIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserByMovieIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnRentals">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnRentalsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="returnRentalsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnRental">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnRentalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="returnRentalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RentalModelService">

      <wsdl:port binding="impl:RentalModelSoapBinding" name="RentalModel">

         <wsdlsoap:address location="http://localhost:8080/VideoLibraryServer/services/RentalModel"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
