Server/WebContent/wsdl/UserModel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model.video.sy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model.video.sy" xmlns:intf="http://model.video.sy" xmlns:tns1="http://valueobj.video.sy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model.video.sy" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://valueobj.video.sy"/>
   <element name="getUser">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserResponse">
    <complexType>
     <sequence>
      <element name="getUserReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByType">
    <complexType>
     <sequence>
      <element name="userType" type="xsd:string"/>
      <element name="from" type="xsd:int"/>
      <element name="pagesize" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByTypeResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUserByTypeReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateUser">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateUserResponse">
    <complexType>
     <sequence>
      <element name="authenticateUserReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsers">
    <complexType>
     <sequence>
      <element name="from" type="xsd:int"/>
      <element name="pagesize" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUsersReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveUser">
    <complexType>
     <sequence>
      <element name="u" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveUserResponse">
    <complexType/>
   </element>
   <element name="deletUser">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletUserResponse">
    <complexType>
     <sequence>
      <element name="deletUserReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUser">
    <complexType>
     <sequence>
      <element name="u" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserResponse">
    <complexType>
     <sequence>
      <element name="addUserReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://valueobj.video.sy" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="balance" type="xsd:float"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="issuedMovies" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="membershipNo" nillable="true" type="xsd:string"/>
     <element name="monthlySubscriptionFee" type="xsd:float"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="total" type="xsd:float"/>
     <element name="totalOutstandingMovies" type="xsd:int"/>
     <element name="userId" nillable="true" type="xsd:string"/>
     <element name="userType" nillable="true" type="xsd:string"/>
     <element name="zipCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUsersRequest">

      <wsdl:part element="impl:getUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletUserResponse">

      <wsdl:part element="impl:deletUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveUserRequest">

      <wsdl:part element="impl:saveUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserRequest">

      <wsdl:part element="impl:getUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByTypeResponse">

      <wsdl:part element="impl:getUserByTypeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersResponse">

      <wsdl:part element="impl:getUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part element="impl:addUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateUserRequest">

      <wsdl:part element="impl:authenticateUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByTypeRequest">

      <wsdl:part element="impl:getUserByType" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletUserRequest">

      <wsdl:part element="impl:deletUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateUserResponse">

      <wsdl:part element="impl:authenticateUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserResponse">

      <wsdl:part element="impl:getUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveUserResponse">

      <wsdl:part element="impl:saveUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part element="impl:addUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserModel">

      <wsdl:operation name="getUser">

         <wsdl:input message="impl:getUserRequest" name="getUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserResponse" name="getUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserByType">

         <wsdl:input message="impl:getUserByTypeRequest" name="getUserByTypeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserByTypeResponse" name="getUserByTypeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateUser">

         <wsdl:input message="impl:authenticateUserRequest" name="authenticateUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateUserResponse" name="authenticateUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsers">

         <wsdl:input message="impl:getUsersRequest" name="getUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsersResponse" name="getUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveUser">

         <wsdl:input message="impl:saveUserRequest" name="saveUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveUserResponse" name="saveUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletUser">

         <wsdl:input message="impl:deletUserRequest" name="deletUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletUserResponse" name="deletUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserModelSoapBinding" type="impl:UserModel">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserByType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserByTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserByTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserModelService">

      <wsdl:port binding="impl:UserModelSoapBinding" name="UserModel">

         <wsdlsoap:address location="http://localhost:8080/VideoLibraryServer/services/UserModel"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
