Server/WebContent/wsdl/VideoModel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model.video.sy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model.video.sy" xmlns:intf="http://model.video.sy" xmlns:tns1="http://valueobj.video.sy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model.video.sy" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://valueobj.video.sy"/>
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="getMovies">
    <complexType>
     <sequence>
      <element name="from" type="xsd:int"/>
      <element name="pagesize" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getMoviesReturn" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesCount">
    <complexType/>
   </element>
   <element name="getMoviesCountResponse">
    <complexType>
     <sequence>
      <element name="getMoviesCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesByGenre">
    <complexType>
     <sequence>
      <element name="genre" type="xsd:string"/>
      <element name="from" type="xsd:int"/>
      <element name="pagesize" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesByGenreResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getMoviesByGenreReturn" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesByGenreCount">
    <complexType>
     <sequence>
      <element name="genre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesByGenreCountResponse">
    <complexType>
     <sequence>
      <element name="getMoviesByGenreCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesBySearchTerm">
    <complexType>
     <sequence>
      <element name="searchTerm" type="xsd:string"/>
      <element name="from" type="xsd:int"/>
      <element name="pagesize" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesBySearchTermResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getMoviesBySearchTermReturn" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesBySearchTermCount">
    <complexType>
     <sequence>
      <element name="searchTerm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoviesBySearchTermCountResponse">
    <complexType>
     <sequence>
      <element name="getMoviesBySearchTermCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMovie">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMovieResponse">
    <complexType>
     <sequence>
      <element name="getMovieReturn" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="addMovie">
    <complexType>
     <sequence>
      <element name="m" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="addMovieResponse">
    <complexType>
     <sequence>
      <element name="addMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletMovie">
    <complexType>
     <sequence>
      <element name="movieId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletMovieResponse">
    <complexType>
     <sequence>
      <element name="deletMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveMovie">
    <complexType>
     <sequence>
      <element name="m" type="tns1:Movie"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveMovieResponse">
    <complexType>
     <sequence>
      <element name="saveMovieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://valueobj.video.sy" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BaseValueObj">
    <sequence/>
   </complexType>
   <complexType name="Movie">
    <complexContent>
     <extension base="tns1:BaseValueObj">
      <sequence>
       <element name="availableCopies" type="xsd:int"/>
       <element name="category" nillable="true" type="xsd:string"/>
       <element name="movieBanner" nillable="true" type="xsd:string"/>
       <element name="movieId" nillable="true" type="xsd:string"/>
       <element name="movieName" nillable="true" type="xsd:string"/>
       <element name="releaseDate" type="xsd:int"/>
       <element name="rentAmount" type="xsd:double"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMoviesBySearchTermResponse">

      <wsdl:part element="impl:getMoviesBySearchTermResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesByGenreRequest">

      <wsdl:part element="impl:getMoviesByGenre" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveMovieRequest">

      <wsdl:part element="impl:saveMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesBySearchTermCountRequest">

      <wsdl:part element="impl:getMoviesBySearchTermCount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletMovieRequest">

      <wsdl:part element="impl:deletMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesByGenreCountResponse">

      <wsdl:part element="impl:getMoviesByGenreCountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesRequest">

      <wsdl:part element="impl:getMovies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addMovieResponse">

      <wsdl:part element="impl:addMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMovieRequest">

      <wsdl:part element="impl:getMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesResponse">

      <wsdl:part element="impl:getMoviesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesBySearchTermRequest">

      <wsdl:part element="impl:getMoviesBySearchTerm" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletMovieResponse">

      <wsdl:part element="impl:deletMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMovieResponse">

      <wsdl:part element="impl:getMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesCountResponse">

      <wsdl:part element="impl:getMoviesCountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addMovieRequest">

      <wsdl:part element="impl:addMovie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesBySearchTermCountResponse">

      <wsdl:part element="impl:getMoviesBySearchTermCountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesByGenreCountRequest">

      <wsdl:part element="impl:getMoviesByGenreCount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveMovieResponse">

      <wsdl:part element="impl:saveMovieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesCountRequest">

      <wsdl:part element="impl:getMoviesCount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoviesByGenreResponse">

      <wsdl:part element="impl:getMoviesByGenreResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="VideoModel">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMovies">

         <wsdl:input message="impl:getMoviesRequest" name="getMoviesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoviesResponse" name="getMoviesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesCount">

         <wsdl:input message="impl:getMoviesCountRequest" name="getMoviesCountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoviesCountResponse" name="getMoviesCountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesByGenre">

         <wsdl:input message="impl:getMoviesByGenreRequest" name="getMoviesByGenreRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoviesByGenreResponse" name="getMoviesByGenreResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesByGenreCount">

         <wsdl:input message="impl:getMoviesByGenreCountRequest" name="getMoviesByGenreCountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoviesByGenreCountResponse" name="getMoviesByGenreCountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesBySearchTerm">

         <wsdl:input message="impl:getMoviesBySearchTermRequest" name="getMoviesBySearchTermRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoviesBySearchTermResponse" name="getMoviesBySearchTermResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesBySearchTermCount">

         <wsdl:input message="impl:getMoviesBySearchTermCountRequest" name="getMoviesBySearchTermCountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoviesBySearchTermCountResponse" name="getMoviesBySearchTermCountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMovie">

         <wsdl:input message="impl:getMovieRequest" name="getMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMovieResponse" name="getMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addMovie">

         <wsdl:input message="impl:addMovieRequest" name="addMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:addMovieResponse" name="addMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletMovie">

         <wsdl:input message="impl:deletMovieRequest" name="deletMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletMovieResponse" name="deletMovieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveMovie">

         <wsdl:input message="impl:saveMovieRequest" name="saveMovieRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveMovieResponse" name="saveMovieResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VideoModelSoapBinding" type="impl:VideoModel">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMovies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoviesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoviesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoviesCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoviesCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesByGenre">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoviesByGenreRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoviesByGenreResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesByGenreCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoviesByGenreCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoviesByGenreCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesBySearchTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoviesBySearchTermRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoviesBySearchTermResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoviesBySearchTermCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoviesBySearchTermCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoviesBySearchTermCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveMovie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveMovieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveMovieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VideoModelService">

      <wsdl:port binding="impl:VideoModelSoapBinding" name="VideoModel">

         <wsdlsoap:address location="http://localhost:8080/VideoLibraryServer/services/VideoModel"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
